@keyframes animationPipes{
    from {
        right: -75px;
    }

    to {
        right: 100%;
    }
}

@keyframes animationCloud{
    from {
        right: -700px;
    }

    to {
        right: 100%;
    }
}

@keyframes animationJumpBird {
    from {
        bottom: var(--positionMoment);
    }

    to {
        bottom: var(--positionJumpFinal);
    }
}

@keyframes animationFallBird {
    from {
        bottom: var(--positionJumpFinal);
    }

    to {
        bottom: 0;
    }
}
