* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --positionMoment: 50%;
    --positionJumpFinal: 50%;
}

.gameBoard {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid tomato;
    position: relative;
    overflow: hidden;            /*corta o conteudo que ultrapassa o tamanho da div*/
    background-color: #81cfe0;
}

.cloud {
    position: absolute;
    bottom: 55%;
    width: 70%;
    animation: animationCloud 15s infinite linear;
}

.pipeNormal {
    bottom: 0;
}

.pipes > img {                  /*pega apenas os img filhos de pipes*/
    position: absolute;         /*nao interfere no conteudo de outras imagens*/
    height: 35%;
    animation: animationPipes 4s infinite linear;
}

.bird {
    position: absolute;
    height: 7%;
    bottom: var(--positionMoment);
    right: 85%;
}

.jumpBird {
    animation: animationJumpBird 500ms ease-out;
}

.fallBird {
    animation: animationFallBird 1.2s ease-in;
}

.floor {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
}


