* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --positionMoment: 50%;
    --positionJumpFinal: 50%;
}

p {
    width: 100%;
    position: absolute;
    font-family: 'Silkscreen', cursive;
    color: white;
    font-size: 13vh;
    text-align: center;
    z-index: 1;
}

.gameBoard {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid tomato;
    position: relative;
    overflow: hidden;            /*corta o conteudo que ultrapassa o tamanho da div*/
    background-color: #81cfe0;
}

.background {
    position: fixed;
    width: 100%;
    bottom: 10%;
    filter: blur(1px) saturate(80%);
}

.pipeNormal {
    bottom: 0;
}

.pipes > img {                  /*pega apenas os img filhos de pipes*/
    position: absolute;         /*nao interfere no conteudo de outras imagens*/
    height: 35%;
    animation: animationPipes 4s infinite linear;
}

.bird {
    position: absolute;
    height: 7%;
    bottom: var(--positionMoment);
    right: 85%;
}

.jumpBird {
    animation: animationJumpBird 500ms ease-out;
}

.fallBird {
    animation: animationFallBird 1.2s ease-in;
}

.floor {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
}